/*opgave 1*/
#ballOne{
  background-color: rgb(5, 109, 19);
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;
margin: 1rem;



}
#ballOne.active{
  animation: right 2s infinite alternate;
  background-color: red;
}


.animateRight{

  animation-name: goRight;
}
@keyframes right {
  from{
    position: relative;
    left: 0;
  }
  to{
    position: relative;
    left: 80%;
  }
}



/*opgave 2*/

.balls{
  background-color: rgb(241, 139, 6);
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;
margin: 1rem;

animation-duration: 400ms;
animation-timing-function: ease-out;
animation-fill-mode: both;

}
.balls.active{
  animation: right 1s forwards;
}

.hardBalls{
  background-color: rgb(155, 13, 13);
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;
margin: 1rem;

animation-duration: 400ms;
animation-timing-function: ease-out;
animation-fill-mode: both;
}
@keyframes anime {
  0%{
    position: relative;
    left: 0%;
  }
  100%{
    position: relative;
    left: 75%;
    transform: scale(0.25);
  }
}
@keyframes animeReverse {
  0%{
    position: relative;
    left: 75%;
  }
  100%{
    position: relative;
    left: 0%;
    transform: scale(0.25);
  }
}
.hardBalls.active:nth-child(even){
  animation: anime 3s ease-out forwards alternate infinite;
}
.hardBalls.active:nth-child(odd){
  animation: animeReverse 3s ease-out forwards alternate infinite;
}




@keyframes goRight{
  from {transform: translateX(0px)}
  to {transform: translateX(500px)}
}

@keyframes goLeft{
  from {transform: translateX(0px)}
  to {transform: translateX(-500px)}
}

  
  